<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!--数据库驱动-->
    <!-- <classPathEntry location="C:\Users\Kerwin\.m2\com\oracle\ojdbc6\12.1.0.1\ojdbc6-12.1.0.1.jar"/> -->
    <classPathEntry location="D:\wangxyWork\ojdbc6-12.1.0.1.jar"/>
    <context id="context"    targetRuntime="MyBatis3" defaultModelType="flat">
        <!-- 生成注释配置 -->
        <commentGenerator>
            <!-- 是否取消注释 -->
            <property name="suppressAllComments" value="false"/>
            <!-- 数据库注释支持 -->
            <property name="addRemarkComments" value="true"/>
            <!-- 时间格式设置 -->
            <property name="dateFormat" value="yyyy-MM-dd HH:mm:ss"/>
        </commentGenerator>
        <!--数据库链接地址账号密码-->
        <!-- 
        <jdbcConnection driverClass="oracle.jdbc.driver.OracleDriver"
                        connectionURL="jdbc:oracle:thin:@localhost:1521:orcl" userId="irmaccounting"
                        password="irmaccounting">
         -->
        <jdbcConnection driverClass="oracle.jdbc.driver.OracleDriver"
                        connectionURL="jdbc:oracle:thin:@192.168.0.109:1521:orcl" userId="irmaccounting3"
                        password="irmaccounting3">
            <!-- 解决空字段不生成 -->            
			<property name="nullCatalogMeansCurrent" value="true"/>                        
        </jdbcConnection>
        <!-- 数值类型数据是否全部使用BigDecimal类型 -->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!--生成Model类存放位置-->
        <javaModelGenerator targetPackage="com.wangxy.exoskeleton.entity" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <!-- 设置是否在getter方法中，对String类型字段调用trim()方法 -->
            <property name="trimStrings" value="false"/>
        </javaModelGenerator>
        <!-- 生成xml映射文件 -->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="false"/>
            <property name="isMergeable" value="false"/>
        </sqlMapGenerator>
        <!--生成Mapper接口-->
        <javaClientGenerator targetPackage="com.wangxy.exoskeleton.mapper" targetProject="src/main/java" type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <!--生成对应表及类名-->
        <table tableName="tsys_pagelable" domainObjectName="Pagelable" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
            <!-- 主键生成方式 -->
            <!--<generatedKey column="u_id" sqlStatement="select seq_t_user.nextval from dual" identity="true"/>-->
            <!-- 列名去除前缀 -->
            <!--
            <columnRenamingRule searchString="^[^_]+" replaceString=""/>
            -->
        </table>
        <table schema="IRMACCOUNTING3" tableName="tsys_dict_item" domainObjectName="DictItem" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
            <!-- 主键生成方式 -->
            <!--<generatedKey column="u_id" sqlStatement="select seq_t_user.nextval from dual" identity="true"/>-->
            <!-- 列名去除前缀 -->
            <!--
            <columnRenamingRule searchString="^[^_]+" replaceString=""/>
            -->
        </table>
    </context>
</generatorConfiguration>